
#almanac_block .location {
	text-align:left;
}

#almanac_block .time{
	line-height: 1.1em;
	margin: 0.25em 0;
	padding: 0.25em 0;
}

#almanac_page {
	margin: 1em 0 0;
	padding: 0;
}
.moon-spirte, .moon-spirte .phase, .moon-spirte .phase-info {
  height: auto;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.moon-spirte { width: 40px; float: left; }
.moon-spirte .phase { background-image: url(images/phases.png); background-repeat: no-repeat; width: 25px; height: 25px; }

.moon-spirte .north-full { background-position: 0 0; }
.moon-spirte .north-waning-gibbous { background-position: -27px 0; }
.moon-spirte .north-third-quarter { background-position: -54px 0; }
.moon-spirte .north-waning-crescent { background-position: -81px 0; }
.moon-spirte .north-new { background-position: -108px 0; }
.moon-spirte .north-waxing-crescent { background-position: -135px 0; }
.moon-spirte .north-first-quarter { background-position: -162px 0; }
.moon-spirte .north-waxing-gibbous { background-position: -189px 0; }

.moon-spirte .south-full-moon { background-position: 0 -27px; }
.moon-spirte .south-waning-gibbous { background-position: -27px -27px; }
.moon-spirte .south-third-quarter { background-position: -54px -27px; }
.moon-spirte .south-waning-crescent { background-position: -81px -27px; }
.moon-spirte .south-new-moon { background-position: -108px -27px; }
.moon-spirte .south-waxing-crescent { background-position: -135px -27px; }
.moon-spirte .south-first-quarter { background-position: -162px -27px; }
.moon-spirte .south-waxing-gibbous { background-position: -189px -27px; }

